.form{
    width: 100%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 2%;
}
.fond
{
    background-image: url(../Images/cascoybotas.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    background-clip: content-box;
    border-radius: 10px;
}

.form #nom, #ema, #emp, #asun, #mens{
    width: 45%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 2.5%;
    text-align: left;
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
    border-style: solid;
    margin-bottom: 2%;
}
.form #mens{
    height: 80px;   
}
.form #envi{
    margin-bottom: 2%;
    width: 20%;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f3a339;
    font-size: 100%;
    color: #fff;
    transition: all 400ms ease 0s;
    -webkit-transition: all 400ms ease 0s;
}
.form #envi:hover{
    background-color: #ff9900;
    color: rgb(0, 0, 0);
}
.Contenido h1{
    font-size: 40px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: rgba(248, 224, 3,0.5);
    border-radius: 1%;
    margin-bottom: 2%;
}
.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.Contenido{
    margin: auto;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 7%;
    
}
.Contenido p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;     
    font-size: 30px; 
    margin-bottom: 10px;
    text-align: justify;
}
