
#derecha{
    float: right;
    width: 48%;
}
#izquierda{
    float: left;
    width: 48%;
}

@media screen and (max-width: 1055px){
    
    #derecha{
        float: initial;
        width: 100%
    }
    #izquierda{
        float: inherit;
        width: 100%;
    }
}
.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.Contenido{
    margin: auto;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 7%;
    
}
.Contenido p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;     
    font-size: 30px; 
    margin-bottom: 10px;
    text-align: justify;
}
.Contenido h1{
    font-size: 40px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: rgb(248, 224, 3,0.5);
    border-radius: 10px;
    margin-bottom: 2%;
}