#c-slider{
    margin:auto;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 85%;
    max-width: 900px;
    position: relative;
    overflow: hidden; /*Oculta todo lo que no se desea mostrar*/
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px; /*Estilo que crea un efecto de sombra y un cuadro */
            
}

#slider{
    display: -webkit-flex;/*Son para hacer el display flex en todos los navegadores */
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 400%; /*Depende de cuantas imagenes pongas en el slide*/
}
#slider section{
    width: 100%;
}
#slider img{
    display: block;
    width: 100%;
    height: 100%;
}
#btn-prev, #btn-next{
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
}
#btn-prev:hover, #btn-next:hover{ /*Hover opcion para realizar un cambio cuando el raton pasa por encima del elemento*/
    background: rgba(255, 255, 255, 1);
}

#btn-prev{
    left: 10px;
}
#btn-next{
    right: 10px;
}
